#banner{
   
    background: url(../Main/test.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#leftCol{
  color: honeydew !important;
}

Image{
   
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner2{
   
  background: url(../Main/deckTables.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainBanner{
  width: 100vw;
  height: 50vh;
  padding: 2%;
  margin: auto;
  text-align: right;
}

body{
  color: white;
}

 #wood {

  
  background: url(./wood2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 #mainSection{
   background-color: #e1b382;
 }